doctype html
html(lang="en")
    head
        title="Docs"
        style
            include md.css
    body
        .markdown-body
            h2="Api Errors"
            table
                thead
                    tr
                        td="Name"
                        td="Error Code"
                        td="Description"
                tbody
                    each val,index in api_errors
                        tr
                            td=index
                            td=val.error_code
                            td=val.description
